# فایل‌های دیتابیس SQLite
*.db
*.sqlite
*.sqlite3

# پوشه‌های محیط مجازی پایتون
venv/
.env/
.venv/

# فایل‌های پایتون کامپایل شده
__pycache__/
*.py[cod]
*$py.class

# فایل‌های IDE
.vscode/
.idea/
*.swp
*.swo

# فایل‌های لاگ
*.log

# فایل‌های سیستم عامل
.DS_Store
Thumbs.db

# فایل‌های کوکی و حساس
.env
*.env
secrets.ini

# فایل‌های تولید شده توسط Docker
docker-compose.override.yml

# فایل‌های Kubernetes موقت
kubeconfig.yaml

# فایل‌های تولید شده در زمان اجرا
app/names.db  # دیتابیس SQLite پروژه

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Ansible
*.retry